@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="card-columns" class="row">
    @foreach (var user in Model.UserModel)
    {
      @*   <div class="card col-md-3">
            <img src="@product.Image" class="card-img-top" style="background-image:url('@product.Image');" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
        </div> *@
    }
</div>
