@model List<StudyBuddy.Abstractions.IUser>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@foreach (var user in Model)
{
    //var possessiveName = user.Name.AddPossessiveSuffix();

    var avatarUrl = user.Traits.AvatarPath.Contains("://")
        ? user.Traits.AvatarPath// It's a link
        : Url.Content("~/avatars/" + user.Traits.AvatarPath);

    //ViewBag.Title = possessiveName + " profile page";
    Layout = "_Layout";

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">@user.Name Profile</h2>
                </div>
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="avatar-container" style="background-image: url('@avatarUrl');"></div>
                    <ul class="list-group list-group-flush mt-4">
                        <li class="list-group-item">
                            <strong>Birthday:</strong> @user.Traits.Birthdate.ToShortDateString()
                        </li>
                        <li class="list-group-item">
                            <strong>Favorite Subject:</strong> @user.Traits.Subject
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
