@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Profile Creation Page</h2>

<form method="post" action="ProfileCreation/ProcessNewProfile" enctype="multipart/form-data">
    <div>
        <label for="name" pattern="[a-zA-Z]">Name:</label>
        <input type="text" id="name" name="name" size="10" required/>
    </div>
    <div>
        <label for="birthdate">Birth Date:</label>
        <input type="date" id="birthdate" name="birthdate" required/>
    </div>
    <div>
        <label for="subject"> Main Subject:</label>
        <select name="subject" id="subject" required>
            <option>Natural Sciences</option>
            <option>Health Sciences</option>
            <option>Engineering & Technology</option>
            <option>Social Sciences</option>
            <option>Humanities</option>
            <option>Business & Management</option>
            <option>Arts & Design</option>
            <option>Mathematical Sciences</option>
            <option>Bio Sciences</option>
            <option>Law & Legal Studies</option>
            <option>Education</option>
            <option>Agriculture & Forestry</option>
        </select>
    </div>
    <div>
        <label for="avatar">Profile Picture:</label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" required/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>
