@using StudyBuddy.Extensions
@model StudyBuddy.Abstractions.IUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    // Use the AddPossessiveSuffix extension method
    var possessiveName = Model.Name.AddPossessiveSuffix();
}

<h2>@possessiveName profile</h2>
<img src="@Url.Content("~/avatars/" + Model.AvatarFileName)" alt="Avatar" style="width: 10vw; height: 10vh; border-radius: 10%;">
<ul>
    <li>Birthday: @Model.Birthdate.ToShortDateString()</li>
    <li>Favorite subject: @Model.Subject</li>
    
</ul>
