@using StudyBuddy.Extensions
@model StudyBuddy.Abstractions.IUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    // Use the AddPossessiveSuffix extension method
    var possessiveName = Model.Name.AddPossessiveSuffix();

    var avatarUrl = Model.Traits.AvatarPath.Contains("://")
        ? Model.Traits.AvatarPath// It's a link
        : Url.Content("~/avatars/" + Model.Traits.AvatarPath);
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">@possessiveName Profile</h2>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img src="@avatarUrl" alt="Avatar" class="img-fluid rounded-circle" style="max-width: 150px;">
                    </div>
                    <ul class="list-group list-group-flush mt-4">
                        <li class="list-group-item">
                            <strong>Birthday:</strong> @Model.Traits.Birthdate.ToShortDateString()
                        </li>
                        <li class="list-group-item">
                            <strong>Favorite Subject:</strong> @Model.Traits.Subject
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
