@using StudyBuddy.Generator
@{
    ViewData["Title"] = "Home Page";
    About.NameGenerator();
    About.SurnameGenerator();
    About.AgeGenerator();
    About.SubjectGenerator();

}

<style>
h1 {
  text-align: center;
}
</style>

<h1>Potential Buddy</h1>

<form method="post" action="Home" enctype="application/x-www-form-urlencoded">
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">@About.NameGenerator() @About.SurnameGenerator()' Profile</h2>
                </div>
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="avatar-container"></div>
                    <ul class="list-group list-group-flush mt-4">
                        <li class="list-group-item">
                            <strong>Age:</strong> @About.AgeGenerator()
                        </li>
                        <li class="list-group-item">
                            <strong>Favorite Subject:</strong> @About.SubjectGenerator()
                        </li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary">New Profile</button>
            </div>
        </div>
    </div>
</div>
</form>
