@using StudyBuddy.Services.UserSessionService
@using StudyBuddy.Shared.Abstractions
@inject IUserSessionService UserSessionService
@inject IHttpClientFactory HttpClientFactory

@{
    ViewData["Title"] = "Home Page";
    var currentUserId = UserSessionService.GetCurrentUserId();
    IUser? user = null;

    if (currentUserId != null)
    {
        var httpClient = HttpClientFactory.CreateClient("StudyBuddy.API");

        var response = await httpClient.GetAsync($"api/v1/user/{currentUserId.Value}");

        if (response.IsSuccessStatusCode)
        {
            user = await response.Content.ReadFromJsonAsync<IUser>();
        }
    }
}

<div class="container">
    <div class="text-center mt-5">
        @if (user != null)
        {
            <h1 class="display-4">Welcome, @user.Username!</h1>

            <div class="mt-3">
                <h5>Your Study Interests</h5>
                @if (user.Hobbies != null && user.Hobbies.Any())
                {
                    <div class="mb-3">
                        @foreach (var hobby in user.Hobbies)
                        {
                            <span class="badge bg-secondary me-2">@hobby</span>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
            <p>
                It seems you are new here! Join the other <b>@Model</b> users now! <a asp-area="" asp-controller="Profile" asp-action="CreateProfile">Sign up now!</a>
            </p>
        }
    </div>
</div>
