@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It seems you are new here! <a href="/ProfileCreation">Create a profile!</a>.</p>
</div>
