@using StudyBuddy.Managers.UserManager
@using StudyBuddy.Abstractions
@inject IUserManager UserManager
@inject IUserService UserService

@{
    ViewData["Title"] = "Home Page";
    var currentUserId = UserService.GetCurrentUserId();
    IUser? user = null;

    if (currentUserId != null)
    {
        user = UserManager.GetUserById(currentUserId.Value);
    }
}

<div class="text-center">
    @if (user != null)
    {
        <h1 class="display-4">Welcome, @user.Name!</h1>
        <p>What would you like to do today?</p>
        <br/>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Profile" asp-action="CreateProfile">Create a profile</a>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Profile" asp-action="DisplayProfiles">Explore</a>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>
            It seems you are new here! <a asp-area="" asp-controller="Profile" asp-action="CreateProfile">Create a profile!</a>
        </p>
    }
</div>
