@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h2>1. Information We Collect</h2>

    <ul>
        <li><strong>Registration Data:</strong> When you sign up for our services, we collect basic information such as your username, subject, and birthdate to create and manage your account.</li>
        <li><strong>Profile Information:</strong> To enhance your study buddy matching experience, you may choose to provide additional details about your hobbies, location.</li>
        <li><strong>Communication Data:</strong> We securely store the content of your messages, chats, and any other communication exchanged on our platform to facilitate effective collaboration.</li>
    </ul>

    <h2>2. How We Use Your Information</h2>

    <ul>
        <li><strong>Communication Facilitation:</strong> Your data is utilized to enable seamless communication between you and your study buddies through our integrated chat feature.</li>
        <li><strong>Service Improvement:</strong> Aggregated and anonymized data may be analyzed to enhance our services, troubleshoot issues, and improve the overall user experience.</li>
    </ul>

    <h2>3. Data Security</h2>

    <p>We prioritize the security of your information. Our platform employs encryption and other security measures to protect your data from unauthorized access, disclosure, alteration, and destruction.</p>

    <h2>4. Third-Party Integration</h2>

    <p>We may use third-party tools and services to enhance the functionality of our platform. These services are selected with your privacy in mind, and we encourage you to review their respective privacy policies.</p>

    <h2>5. Your Choices</h2>

    <p>You have the option to update, correct, or delete your account information at any time. Additionally, you can choose your communication preferences and opt-out of certain features.</p>

    <h2>6. Compliance with Laws</h2>

    <p>We comply with applicable data protection laws and regulations to ensure that your privacy rights are respected.</p>

    <h2>Changes to Privacy Policy</h2>

    <p>This Privacy Policy may be updated periodically to reflect changes in our practices. We recommend reviewing it regularly for any modifications.</p>
</div>
